<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Medium Trending Topics</h1>
            <nav class="level is-mobile overx-auto">
                <div class="level-item">General</div>
                <div class="level-item">Technology</div>
                <div class="level-item">Culture</div>
                <div class="level-item">Entrepreneurship</div>
                <div class="level-item">Creativity</div>
                <div class="level-item">Self</div>
                <div class="level-item">Politics</div>
                <div class="level-item">Media</div>
                <div class="level-item">Productivity</div>
                <div class="level-item">Digital-Design</div>
                <div class="level-item">Popular</div>
            </nav>
        </div>
    </div>
</section>