<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Medium Trending Topics</h1>
            <nav class="level is-mobile overx-auto">
                <a class="level-item" ng-href="/">General</a>
                <a class="level-item" ng-href="/#!/technology">Technology</a>
                <a class="level-item" ng-href="/#!/culture">Culture</a>
                <a class="level-item" ng-href="/#!/entrepreneurship">Entrepreneurship</a>
                <a class="level-item" ng-href="/#!/creativity">Creativity</a>
                <a class="level-item" ng-href="/#!/self">Self</a>
                <a class="level-item" ng-href="/#!/politics">Politics</a>
                <a class="level-item" ng-href="/#!/media">Media</a>
                <a class="level-item" ng-href="/#!/productivity">Productivity</a>
                <a class="level-item" ng-href="/#!/digital-design">Digital-Design</a>
                <a class="level-item" ng-href="/#!/popular">Popular</a>
            </nav>
        </div>
    </div>
</section>